@tailwind base;
@tailwind components;

/* m-plus-rounded-1c-regular - latin_japanese */
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../public/fonts/m-plus-rounded-1c-v10-latin_japanese-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/m-plus-rounded-1c-v10-latin_japanese-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@tailwind utilities;

br {
  @apply hidden md:block;
}